* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    color: #d3b9fd;
    font-family: 'Poppins', Arial, sans-serif;
}

header {
    background-color: #B6E2D3;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #F9F5FF;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

nav a {
    color: #A084CA;
    text-decoration: none;
}

nav a:hover {
    color: #F9F5FF;
}

main {
    flex: 1;
    padding: 20px;
}

h2, h3, h4, h5, h6 {
    color: #A084CA

    ;
}

figure {
    margin: 20px 0;
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
    border: 2px solid #F9F5FF;
}

figcaption {
    color: #8892b0;
    margin-top: 5px;
}

ul, ol {
    padding-left: 20px;
}

footer {
    background-color: #B6E2D3;
    color: #F9F5FF;
    text-align: center;
    padding: 15px;
}

.card {
	background-color: #f2f2f2;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 20px;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.card h2 {
    font-family: helvetica;
	font-size: 24px;
	margin-bottom: 10px;
}

.card p {
    font-family: helvetica;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.card img {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}
.card button{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
}

.secao4 {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.secao4-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.secao4-div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 60px);
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: white;
    transition: all 0.5s ease;
}

.secao4-div-card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.secao4-div-card img {
    width: 35%;
    height: auto;
}

.secao4-div-card h3 {
    margin-bottom: 0px;
}

h2 {
    text-align: center;
}

.gatinho {
    display: block;
    margin: 0 auto;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #a4cec0;
    padding: 10px 0;
    border-radius: 10px;
}